/* Estilo base para los mensajes de error */
.error {
    color: #e74c3c; /* Rojo para indicar error */
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: -5px;
    display: block; /* Asegura que el mensaje no interfiera con los inputs */
    font-family: 'Montserrat', sans-serif;
}

/* Estilo para inputs con errores */
input:invalid {
    border-color: #e74c3c; /* Cambiar el color del borde del input */
    box-shadow: 0 0 5px rgba(231, 76, 60, 0.5);
}

/* Botón para mayor claridad */
button {
    background-color: #3498db; /* Azul principal */
    color: #fff; /* Texto blanco */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9; /* Azul más oscuro al pasar el cursor */
}

/* Estilo general para inputs */
input {
    border: 1px solid #ccc; /* Color por defecto */
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

input:focus {
    border-color: #3498db; /* Azul al enfocar */
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
    outline: none;
}

/* Formularios bien centrados */
form div {
    margin-bottom: 15px; /* Espacio entre campos */
}
